[submodule "src/libhybris"]
	path = src/libhybris
	url = https://github.com/mer-hybris/libhybris
[submodule "src/droid-config"]
	path = src/droid-config
	url = https://github.com/sailfishos-sony-tama/droid-config-sony-tama-pie.git
[submodule "src/bluebinder"]
	path = src/bluebinder
	url = https://github.com/mer-hybris/bluebinder
[submodule "src/droid-hal-img-boot-sony-tama-pie"]
	path = src/droid-hal-img-boot-sony-tama-pie
	url = https://github.com/sailfishos-sony-tama/droid-hal-img-boot-sony-tama-pie
[submodule "src/gmp-droid"]
	path = src/gmp-droid
	url = https://github.com/sailfishos/gmp-droid
[submodule "src/gst-droid"]
	path = src/gst-droid
	url = https://github.com/sailfishos/gst-droid
[submodule "src/libdres-ohm"]
	path = src/libdres-ohm
	url = https://git.sailfishos.org/mer-core/libdres-ohm
[submodule "src/mce-plugin-libhybris"]
	path = src/mce-plugin-libhybris
	url = https://github.com/nemomobile/mce-plugin-libhybris
[submodule "src/nemo-qml-plugin-systemsettings"]
	path = src/nemo-qml-plugin-systemsettings
	url = https://github.com/sailfishos-sony-tama/nemo-qml-plugin-systemsettings
[submodule "src/ohm"]
	path = src/ohm
	url = https://git.sailfishos.org/mer-core/ohm
[submodule "src/ohm-plugins-misc"]
	path = src/ohm-plugins-misc
	url = https://git.sailfishos.org/mer-core/ohm-plugins-misc
[submodule "src/pickupd"]
	path = src/pickupd
	url = https://github.com/sailfishos-sony-tama/pickupd
[submodule "src/pkg-fsarchiver"]
	path = src/pkg-fsarchiver
	url = https://github.com/sailfishos-sony-tama/pkg-fsarchiver
[submodule "src/pulseaudio-modules-droid"]
	path = src/pulseaudio-modules-droid
	url = https://github.com/mer-hybris/pulseaudio-modules-droid
[submodule "src/pulseaudio-modules-droid-hidl"]
	path = src/pulseaudio-modules-droid-hidl
	url = https://github.com/mer-hybris/pulseaudio-modules-droid-hidl
[submodule "src/qt5-qpa-hwcomposer-plugin"]
	path = src/qt5-qpa-hwcomposer-plugin
	url = https://github.com/mer-hybris/qt5-qpa-hwcomposer-plugin
[submodule "src/sensorfw"]
	path = src/sensorfw
	url = https://github.com/sailfishos-sony-tama/sensorfw
[submodule "src/droid-hal-version-sony-tama"]
	path = src/droid-hal-version-sony-tama
	url = https://github.com/sailfishos-sony-tama/droid-hal-version-sony-tama
[submodule "src/droid-hal-img-dtbo-sony-tama-pie"]
	path = src/droid-hal-img-dtbo-sony-tama-pie
	url = https://github.com/sailfishos-sony-tama/droid-hal-img-dtbo-sony-tama-pie
